
<mat-grid-list cols="5" rowHeight="1:2" *ngIf="url">
    <mat-grid-tile *ngFor="let search of url" width=500px>
   

<mat-card class="example-card" >
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
  </mat-card-header> -->
  <img mat-card-image src={{getimage(search)}}>
  <mat-card-title>{{search.name}}</mat-card-title>
  <mat-card-content>
    Artist: {{search.artist}}
  </mat-card-content>
  <mat-card-actions>
    <!-- <app-wishlist [name]=search.name [comment]=search.artist [id]=search.listeners [imageUrl]=searchComponent.getimage(search)></app-wishlist> -->
    <button (click)="addList(search.name,search.artist,search.listeners,getimage(search))">Add to Wish List</button>
  </mat-card-actions>
</mat-card>

</mat-grid-tile>
{{getMessage()}}
</mat-grid-list>