<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="./app.component.css"> -->
  <!-- <h1>Muzix App</h1> -->

  <mat-toolbar color="Primary" >
    <mat-toolbar-row>
       <span><a href="/">Muzix App</a></span>
       <span class="spacer"></span>
       <a routerLink="/search">Search</a>
       <span class="spacer"></span>
       <a routerLink="/wishlist">Wish List</a>
    </mat-toolbar-row>
 </mat-toolbar>